* {
	margin: 0;
	padding: 0;
}

header, section, footer, aside, nav, main, article, figure {
    display: block; 
}

h1,h2,h3,h4,h5,h6 {
	margin-top: 0px;
	margin-bottom: 15px;
}

a:hover, a, a:focus {
	text-decoration: none;
	outline: none;
}

p {
	margin-bottom: 10px;
}

img {
	max-width: 100%;
}

html, body {
	height: 100%;
}

body {
	font-size:14px;
	line-height: 26px;
	color: #555;
}

/****************************************************************************/
/*                          	Header Area		                         */
/****************************************************************************/
.header-area {
	margin-top: 15px;
}
.language-bd-en {
	text-align: center;
}
.language-bd-en a {
	display: inline-block;
	border: 1px solid #d7d7d7;
	color: #5f5f5f;
}
.language-bd-en a.active {
	background: #7278E2;
	color: #fff;
}
.language-bd-en a:hover {
	color: #fff;
	background: #7278E2;
}

.language-bd-en a.bn,.en {
	width: 50px;
	height: 50px;
	text-align: center;
	padding-top: 10px;
}
/****************************************************************************/
/*                          	Balance Area    	                       */
/****************************************************************************/

.title-balance {
	margin: 20px 0px;
	background: #424A61 url(../img/recharge-title-bg.png) top right no-repeat;
	padding: 25px 0px;
	color: #fff;
}
.title-balance h5 {
	text-align: center;
	font-weight: 700;
	font-size: 17px;
	margin-top: 20px;
}

/****************************************************************************/
/*                          	Emergancy Balance Area    	                       */
/****************************************************************************/
.emergancy-area {
	margin: 20px 0px;
}

figure.emergancy-balance {
	background: url(../img/imargency-balance-box-bg.png) no-repeat bottom right;
	height: 210px;
}
figure.emergancy-balance, figure.emergancy-number {
	box-shadow: 0px 0px 5px #ccc;
}
figcaption.info-title {
	padding: 53px 30px;
	color: #000;	
}

figure.emergancy-number {
	background: url(../img/rechange-box-bg.png) no-repeat bottom right;
	height: 210px;
}

label.mobile {
	font-weight: 700;
	font-size: 17px;
}
input[type=text] {
	border: 2px solid #bdc3c7;
    padding: 7px 20px;
    display: inline-block;
    border-radius: 5px;;
}
input:focus[type=text] {
	background: #fff;
	border-color: #312783;
}
label.amount {
	display: block;
	margin-top: 10px;
	font-size: 17px;
}

a.btn {
	display: inline-block;
    padding: 5px 5px;
    width: 50px;
    height: 43px;
    padding-top: 11px;
    color: #fff;
    font-weight: 400;
}

a.btn-color-20 {
	background: #657CA7;
}

a.btn-color-100 {
	background: #325EAE;
}

a.btn-color-300 {
	background: #2BB0B6;
}

a.btn-recharge {
	background: #7278E2;
	padding: 8px 14px;
	color: #fff;
	border-radius: 5px;
	display: inline-block;
}

input.taka {
	width: 105px;
}
/****************************************************************************/
/*                          	Eid Special Area    	                       */
/****************************************************************************/

.eid-special-area {
	margin: 40px 0px;
}

.section-title-1 {
	text-align: center;
	position: relative;
}

.section-title-1:before {
	content: "";
	width: 50%;
	position: absolute;
	bottom: -15px;
	left: 0;
	border-bottom: 3px solid #6E60E6;
}

.section-title-1:after {
	content: "";
	width: 50%;
	position: absolute;
	bottom: -15px;
	right: 0;
	border-bottom: 3px solid #F048AC;
}

.img-details {
	margin: 30px 0px;
}
.single-img-details, .eid-special-detials {
	box-shadow: 0 0 5px #ccc;
	padding: 10px 10px;
	border-radius: 5px 5px 0px 0px;
}
.single-img-details figcaption h5 {
	margin-bottom: 5px;
}
.single-img-details:hover {
	background: #5E5E5E;
	transition: all .4s ease;
	color: #fff;
}
.price-right {
	float: right;
}

.btn-price {
	display: block;
	width: 100%; 
    background: #d5087f;
    text-align: center;
    color: #fff;
    padding: 9px 0px;
    text-transform: uppercase;
    margin-top: -16px;
    border-radius: 0px 0px 5px 5px;
}
.btn-price:hover {
	background: #7278E2;
	color: #fff;
	transition: all 0.4s ease;
}

h5.eid-special-h5 {
	color: #000;
	font-weight: 600;
	font-size: 16px;
}

/****************************************************************************/
/*                          	Win Free Internet Pack Area    	            */
/****************************************************************************/
.win-free-internet {
	margin: 30px 0px;
}
.gp-phone-img {
	display: inline-block;
	padding: 7px;
}
.gp-phone-text {
	display: inline-block;
	padding-left: 20px;
}
.gp-phone-text h5 {
	font-weight: 600;
}
.gp-phone-img img {
	width: 140px;
	height: 140px;
}
.gp-phone-text i {
	font-size: 60px;
}

.gp-phone-text p {
	margin-top: -55px;
	padding-left: 40px;
	padding-bottom: 0px;
}

.hover-effect:hover .gp-phone-img:hover {
	background: #070707;
}

.hover-effect .gp-phone-text:hover {
	color: #fff;
}
.hover-effect:hover {
	background: #1D1D1D;
	color: #fff;
}

.hover-effect .gp-phone-text i:hover {
	color: #999;
}

/****************************************************************************/
/*                          	Lets Talk Area    	            */
/****************************************************************************/


.section-title-2 {
	background: url(../img/title-bg.png) no-repeat center center ;
	text-align: center;
	position: relative;
	
}
.section-title-2 h4 {
	font-size: 20px;
	padding: 20px 0px;
}

.section-title-2:before {
	content: "";
	width: 50%;
	position: absolute;
	bottom: 0px;
	left: 0;
	border-bottom: 4px solid #6E60E6;
}

.section-title-2:after {
	content: "";
	width: 50%;
	position: absolute;
	bottom: 0px;
	right: 0;
	border-bottom: 4px solid #F048AC;
}

.lets-visit {
	padding: 10px;
	border-radius: 5px;
}
.lets-visit figure img:hover {
 	cursor: pointer;
 }  
.lets-visit:hover {
	background: #5E5E5E;
	color: #fff;
	transition: all .2s ease-in-out;
}
.lets-visit figcaption {
	text-align: center;
	font-weight: 600;
	padding-top: 10px;
}